.derecha{
    display: flex;
    flex-direction: column;
    align-items:center;
    @include tablet{
        align-items:flex-end;


    }
    .dark-mode-boton{
        width: 3rem;
        margin:3rem 0 2rem;
        filter:invert(100%)
    }
    &:hover{
        cursor: pointer;
    }
}
.barra{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        padding-top:3rem;
        align-items: flex-end;

    }
}

.navegacion{
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s ease-in-out, opacity 0.5s linear;
    




    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right:2rem;

            &:last-of-type{
                margin: 0;
            }
        }
    }
}

/* menu de hamburgesa  */
.mobile-menu{
    @include tablet{
        display: none;
    }

    img{
        width: 5rem;

    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
}
